nav ul a,
nav .brand-logo {
  //color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax{
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.parallax img{
  max-width: 100%;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.contain-sm {
  margin-left: auto;
  margin-right: auto;
  max-width: 769px;
}

.center{
  text-align: center;
}

.header{
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
}

#toast-container {
  right: 40% !important;
}

.toast-success{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  font-size: 1.2em;
  font-weight: 500;
}

.toast-danger{
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  font-size: 1.2em;
  font-weight: 500;
}